#select_scheme h2{
    margin-top: 0px;
}
#select_scheme #select_scheme_dropdown{
    width:210px;
}
#select_scheme #select_scheme_dropdown .btn-default{
    width: 210px;
    height: 40px;
    margin: 0;
    color: #333;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    padding-right: 10px;
    background-color: white;
    outline: none;
}
#select_scheme #select_scheme_dropdown .btn-default span{
    float: right;
    margin-top: 13px;

}
#select_scheme #select_scheme_dropdown  #dropdown_item{
    display: none;
    width: 210px;
    padding: 0;
    border-radius: 10px;
}
#select_scheme #select_scheme_dropdown  #dropdown_item li{
    width: 210px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
}
#select_scheme #select_scheme_dropdown  #dropdown_item li:hover{
    color: #fff;
    cursor:pointer;
    background-color: #FF9B4F;
}
#select_scheme #select_scheme_dropdown .btn-default:hover {
    color: #333;
    background-color: white;
    border-color: burlywood;
}
#select_scheme #a_scheme_input{
    margin-top: 10px;
}
/*
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
#select_scheme .form-control{
    width:90%;
}
#select_scheme .option select option{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#select_scheme #select_scheme_dropdown option{
    width:200px;
    height: 30px;
    background-color: red;
}
#select_scheme #select_scheme_dropdown option:hover{
    width:200px;
    height: 30px;
    color: #F8F4F1;
    background-color: #FF9B4F;
}*/
#ex_scheme_input{
    margin-top: 20px;
}
.s_scheme form fieldset button{
    margin-top: 20px;
    height: 40px;
    color: #F8F4F1;
    font-size: 16px;
    background-color: #FF9B4F;
    border: 1px solid #FF9B4F;
}
.s_scheme form fieldset button:hover{
    color:#FF9B4F;
    background-color: white;
    border: 1px solid #FF9B4F;
}
.s_scheme form fieldset div{
    margin-top: 5px;
    margin-bottom: 5px;
}
.s_scheme form fieldset div label {
    line-height: 30px;
    font-size: 1.1em;
}

.s_example {
    margin-top: 60px;
}
.s_example h3{
    color: #FF9B4F;
    text-align: center;
}
.s_example p{
    font-size: 1.1em;
}
.s_example pre{
    width: 360px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 0px;
    overflow-x:hidden;
    white-space: normal;
}

.c_question form fieldset button{
    margin-top: 20px;
    height: 40px;
    color: #F8F4F1;
    font-size: 16px;
    background-color: #FF9B4F;
    border: 1px solid #FF9B4F;
}
.c_question form fieldset button:hover{
    color:#FF9B4F;
    background-color: white;
    border: 1px solid #FF9B4F;
}
.c_question form fieldset div .radio label{
    margin-top: 10px;
    font-size: 1.2em;

}
.s_scheme{
    display: none;
}
.s_scheme_active{
    display: block;
}
.s_example{
    display: none;
}
.s_example_active{
    display: block;
}
.c_question{
    display:none;
}
.c_question_active{
    display: block;
}
.small_foot{
    margin-top: 20px;
}
.small_foot{
    margin-top: 20px;
}