body{
    background-color: #F8F4F1;
}
.navbar{
    height:51px;
    border-radius: 10px;
    box-shadow: 0 0 8px #888888;
    background-color: #FF9B4F;
}
.navbar-default .navbar-brand{
    color: #F8F4F1;
}
#top{
    height:51px;
    padding-right: 20px;
    font-size: 1.2em;
    line-height: 50px;
}
#top .navbar-header{
    padding-left: 100px;
}
#top .navbar-header a{
    width: 113px;
    height: 49px;
    margin-bottom: 1px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background: url("../img/oran_small_small.png") no-repeat;
}
#top .navbar-header a:hover{
    color: #333;
}
#top .top_nav{
    width: 530px;
    height: 51px;
    float: right;
}
#top .top_nav .navbar-form{
    width: 170px;
    height: 51px;
    margin-top: 0;
    padding: 0;
}
#top .top_nav .navbar-form{
    margin-right: 15px;
}
#top .top_nav .navbar-form div{

}
#top .top_nav .navbar-form div input{
    width: 182px;
    margin-top: -5px;

    border: 0;
    background-color: rgb(255,255,255,0.3);
    color: black;
}
#top .top_nav .navbar-form div input:hover{

    background-color: rgb(255,255,255,0.5);
}
#top .top_nav ul{
    width: 495px;
}
#top div ul li{
    margin-right: 10px;
}
#top .top_nav ul .top_nav_menu{
    width: 126px;
}
#top div ul li a{
    color: #F8F4F1;
    border-radius: 10px;
}
#top div ul li a:hover{
    color: #FF9B4F;
    background-color: #F8F4F1;
}
#top div ul li .select_nav{
    height: 49px;
    color: #FF9B4F;
    background-color: #F8F4F1;
}

#top .top_nav ul .top_nav_menu .top_nav_item{
    display: none;
    width:230px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 8px #888888;
}
#top .top_nav ul .top_nav_menu .top_nav_item ul{
    width:371px;
}
#top .top_nav ul > .top_nav_menu:hover> a{
    color: #FF9B4F;
    background-color: #F8F4F1;
}
#top .top_nav ul .top_nav_menu .top_nav_item{
    position: absolute;
    float: left;
    z-index: 99;
}
#top .top_nav ul .top_nav_menu:hover >  .top_nav_item {
    display: block;
}
#top .top_nav ul  .top_nav_menu .top_nav_item ul li a{
    width:230px;
    color: #FF9B4F;
    background-color: white;
}
#top .top_nav ul  .top_nav_menu .top_nav_item ul li:hover a{
    color: white;
    background-color: #FF9B4F;
}

#main_c .row{
    margin-top: 8%;
}
#back_img p{
    width: 300px;
    height:300px;
    color:white;
    font-size:2.5em;
    text-align: center;
    line-height: 210px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    background: url("../img/oran_small_1.png") no-repeat;
}
#introduction {
    width: 700px;
    height:300px;
    color: #333;
}
#introduction #abut {
    width:70px;
    height: 45px;
    margin: 0 auto;

}
#introduction #abut .btn-default{
    color: #F8F4F1;
    background-color: #FF9B4F;
    border: 1px  solid #FF9B4F;
}
#introduction #abut .btn-default:hover{
    color: #FF9B4F;
    background-color: white;
}
